{% extends "base.html" %}

{% block content %}

<div class="container">

<h2>{{ test.title }}</h2>

<div style="display:flex; gap:20px;">

<div style="flex:2;" class="card">
    <iframe src="{% url 'view_pdf' test.id %}" width="100%" height="600" style="border:none;"></iframe>
</div>

<div style="flex:1;" class="card">

<form method="POST" action="{% url 'submit_test' test.id %}">
{% csrf_token %}

{% for q in questions %}

<div class="options">

<p><b>Q{{ q.number }}</b></p>

<label><input type="radio" name="q{{ q.number }}" value="A"> A</label>
<label><input type="radio" name="q{{ q.number }}" value="B"> B</label>
<label><input type="radio" name="q{{ q.number }}" value="C"> C</label>
<label><input type="radio" name="q{{ q.number }}" value="D"> D</label>

</div>

{% endfor %}

<div id="result" style="margin:10px 0;font-weight:bold;"></div>

<button type="submit">Submit Test</button>

</form>

</div>

</div>

</div>

{% endblock %}