{% extends "base.html" %}

{% block content %}

<div class="container">

<h2> Create Test</h2>

<div class="card">

{% if error %}
<p style="color:red;">{{ error }}</p>
{% endif %}

<form method="POST" enctype="multipart/form-data">
{% csrf_token %}

<input name="title" placeholder="Test title" required>

<textarea name="description" placeholder="Description"></textarea>

<input name="question_count" type="number" placeholder="Number of questions" required>

<input type="file" name="pdf_file">

<button type="submit">Create Test</button>

</form>

</div>

</div>

{% endblock %}