{% extends "base.html" %}

{% block content %}

<h2>Create Test</h2>

{% if error %}
<p style="color:red;">{{ error }}</p>
{% endif %}

<form method="POST" enctype="multipart/form-data">

{% csrf_token %}

<input name="title" placeholder="Title" required><br><br>

<textarea name="description" placeholder="Description"></textarea><br><br>

<input name="question_count" type="number" placeholder="Number of questions" required><br><br>

<input type="file" name="pdf_file"><br><br>

<button type="submit">Create</button>

</form>

{% endblock %}