{% extends "base.html" %}

{% block content %}

<div class="container">

<h2> Teacher Dashboard</h2>

<a href="/teacher/create_test/">
    <button> Create Test</button>
</a>

<br><br>

{% for test in tests %}

<div class="card">

<h3>{{ test.title }}</h3>
<p>{{ test.description }}</p>

<div style="display:flex; gap:10px;">

<a href="/teacher/add-questions/{{ test.id }}/">
    <button> Edit</button>
</a>

<button class="danger" onclick="deleteTest({{ test.id }})">
     Delete
</button>

<a href="/teacher/results/{{ test.id }}/">
    <button> Results</button>
</a>

</div>

</div>

{% endfor %}

</div>

<script>
function deleteTest(id) {

    if(!confirm("Delete this test?")) return;

    fetch(`/tests/delete/${id}/`, {
        method: "DELETE"
    })
    .then(res => res.json())
    .then(() => location.reload());

}
</script>

{% endblock %}