{% extends "base.html" %}

{% block content %}

{% if not user.is_authenticated %}
<p>Вы не вошли в систему</p>
{% endif %}

<div class="search-box">

<form method="GET">

<input type="text" name="q" placeholder="Search tests...">

<button type="submit">Search</button>

</form>

</div>

<div class="tests">

{% for test in tests %}

<div class="test-card">

<h3>{{ test.title }}</h3>

<p>{{ test.description }}</p>

<p>Questions: {{ test.question_count }}</p>

<a href="/test/{{test.id}}/">
<button>Open Test</button>
</a>

</div>

{% endfor %}
{% endblock %}